html,
body {
    background: #FFFFFF;
    height: 150px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    overflow: hidden;
}

#main {
    background: #FFFFFF;
}

.play-button {
    background: transparent url('../img/play-button.png') no-repeat;
    background-size: 30px 30px;
    position: absolute;
    top: 65px;
    left: 80px;
    z-index: 999999;
    height: 30px;
    width: 30px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.pause-button {
    background: transparent url('../img/pause-button.png') no-repeat;
    background-size: 65px 65px;
    position: absolute;
    top: 47px;
    left: 58px;
    z-index: 999999;
    height: 65px;
    width: 65px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.current-show {
    top: 10px;
}

.npr-image {
    text-align: left;
}

#prog-title {
    font-weight: bold;
    font-size: 14px;
}

#ep-title {
    font-style: italic;
    font-size: 12px;
}

#prog-desc {
    margin-top: 3px;
    font-size: 12px;
    overflow: auto;
    height: 100px;
    overflow-x: hidden;
}

.no-show {
    visibility: hidden;
}

#main h1 {
    color: #fff;
    padding-right: 6px;
    padding-top: 5px;
    text-align: right;
    text-indent: -10000px;
}

.close {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;
    -webkit-app-region: no-drag;
}

.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 6px;
}

